* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

body {
    header {
        align-items: center;
        flex-direction: column;
        img {
            width: 200px;
        }
        .navbar {
            justify-content: center;
            align-items: center;
            background-color: green;
            width: 100vw;
            height: 30px;
            ul {
                display: flex;
                list-style: none;
                li {
                    margin: 0 20px;
                    :hover {
                        text-decoration: underline;
                        color: blue;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
    main {
        background-image: url("/img/fondo-pag-speciali.jpg");
        .container {
            h2 {
                padding-top: 20px;
                text-align: center;
            }
            .pasta {
                img {
                    width: 30%;
                    margin: 1.5%;
                }
            }
        }
    }
}
