* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

body header {
  align-items: center;
  flex-direction: column;
}

body header img {
  width: 200px;
}

body header .navbar {
  justify-content: center;
  align-items: center;
  background-color: #b1d281;
  width: 100vw;
  height: 40px;
}

body header .navbar ul {
  display: flex;
  list-style: none;
}

body header .navbar ul li {
  margin: 0 20px;
}

body header .navbar ul li :hover {
  border-bottom: 4px solid #002d75;
  color: #002d75;
}

body header .navbar ul li a {
  text-decoration: none;
  color: white;
}

body main {
  background-image: url("/img/fondo-pag-speciali.jpg");
}

body main .container h2 {
  padding-top: 20px;
  text-align: center;
  color: #002d75;
}

body main .container .pasta .card {
  width: 30%;
  margin: 1.5%;
  position: relative;
}

body main .container .pasta .card img {
  width: 100%;
}

body main .container .pasta .card:hover .overlay {
  opacity: 1;
}

body main .container .pasta .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

body main .container .pasta .overlay img {
  width: 50px;
}

