body {
    header {
        align-items: center;
        flex-direction: column;
        img {
            width: 200px;
        }
        .navbar {
            justify-content: center;
            align-items: center;
            background-color: #b1d281;
            width: 100vw;
            height: 40px;
            nav {
                display: flex;
                list-style: none;
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    color: white;
                }
                .active {
                    border-bottom: 4px solid #002d75;
                    color: #002d75;
                }
            }
        }
    }
}
